<!DOCTYPE html>
<html lang="en" class="h-full w-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galam Library Managemsent</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/GENERIC_UTILS.js') }}"></script>
    <script src="{{ url_for('static', filename='js/login_page.js') }}"></script>
</head>

<body class="bg-white dark:bg-gray-800 w-full h-full">
    <nav class="fixed top-0 w-full bg-white dark:bg-gray-800 shadow-lg">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <div class="flex items-center">
                    <img class="h-8 w-8" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg"
                        alt="Workflow">
                    <span class="ml-2 text-lg font-semibold text-gray-900 dark:text-white hidden sm:block">Galam Library
                        Management</span>
                </div>
                <div class="flex items-center">
                    <input class="rounded-full px-4 py-2 border-2 border-gray-300 text-lg w-32 md:w-64 lg:w-96"
                        type="search" placeholder="Search">
                    <div class="ml-4 flex items-center space-x-4">
                        <img class="h-6 w-6" src="https://img.icons8.com/ios-glyphs/30/000000/add-book.png"
                            alt="Add New Book">
                        <img class="h-6 w-6" src="https://img.icons8.com/ios-glyphs/30/000000/user-male-circle.png"
                            alt="User">
                        <img class="h-6 w-6" src="https://img.icons8.com/ios-glyphs/30/000000/statistics.png"
                            alt="Statistics">
                        <img class="h-6 w-6" src="https://img.icons8.com/ios-glyphs/30/000000/settings.png"
                            alt="Settings">
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="w-full h-full bg-green-600 pt-10">



    </div>











</body>

</html>