<!DOCTYPE html>
<html lang="en" class="h-full w-full ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galam Library Managemsent</title>
    <script>
        var user_organizations = {{ Organizations | safe }};
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/html_5_QR_scanner.js') }}"></script>
    <script src="{{ url_for('static', filename='js/GENERIC_UTILS.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard_page.js') }}"></script>

</head>

<body class="bg-white dark:bg-gray-800 w-full h-full">
    <nav class="fixed top-0 w-full bg-white dark:bg-gray-800 shadow-lg">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <div class="flex items-center">
                    <img class="h-8 w-8" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg"
                        alt="Workflow">
                    <span class="ml-2 text-lg font-semibold text-gray-900 dark:text-white hidden sm:block">Galam Library
                        Management</span>
                </div>
                <div class="flex items-center">
                    <input
                        class="rounded-full px-4 py-2 border-2 border-gray-300 text-lg w-32 md:w-64 lg:w-96 dark:bg-black dark:text-white"
                        type="search" placeholder="Search" id="search_bar">
                    <div class="ml-4 flex items-center space-x-4">
                        <img class="h-6 w-6 cursor-pointer hover:bg-gray-300"
                            src="https://img.icons8.com/ios-glyphs/30/000000/add-book.png" id="register_new_book"
                            alt="Add New Book">
                        <img id="user_management" class="h-6 w-6 cursor-pointer hover:bg-gray-300"
                            src="https://img.icons8.com/ios-glyphs/30/000000/user-male-circle.png" alt="User">
                        <img class="h-6 w-6 hover:bg-gray-300"
                            src="https://img.icons8.com/ios-glyphs/30/000000/statistics.png" alt="Statistics">
                        <img class="h-6 w-6 hover:bg-gray-300"
                            src="https://img.icons8.com/ios-glyphs/30/000000/settings.png" alt="Settings">
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="w-full h-full  pt-16 md:flex md:flex-row md:justify-between">

        <div class="h-full w-3/12 shadow-lg border-r-2 border-gray-500 " id="filter_col">
            <div id=""
                class="w-full p-2 text-xl font-semibold text-center border-b-2 border-gray-200 shadow-lg dark:text-violet-500">
                <span>Filters Books</span>
            </div>

            <div class="w-full p-2 h-80 overflow-y-auto shadow-lg flex justify-evenly flex-row flex-wrap"
                id="filter_tags">


            </div>

            <div id="cleaner"
                class="w-full p-2 mt-2 bg-gray-200 hover:bg-gray-300 text-black font-semibold shadow-lg text-center cursor-pointer">
                <span>Clear Filters</span>
            </div>

            <div id="scanner"
                class="w-full p-2 mt-4 bg-green-300 hover:bg-green-400 text-black font-semibold shadow-lg text-center cursor-pointer">
                <span>Scanner</span>
            </div>
            <div id="return_book"
                class="w-full p-2 mt-1 bg-blue-300 hover:bg-blue-400 text-black font-semibold shadow-lg text-center cursor-pointer">
                <span>Return Book</span>
            </div>

            <select id="current_user_organization"
                class="w-full p-2 mt-10 bg-violet-200 hover:bg-violet-300 text-black font-semibold shadow-lg text-center cursor-pointer select-none">
                {% for organization in Organizations %}
                <option value="{{ organization }}">{{ organization }}</option>
                {% endfor %}

            </select>

        </div>


        <div class="h-full w-9/12 shadow-lg" id="main_col">

            <!-- Single moc stuffing. -->
            <div class="w-full h-full flex flex-col overflow-y-auto">
                <div class="w-full p-2 text-base h-11 border-b-2 border-gray-200 shadow-lg flex flex-row justify-end">
                    <span class="mr-auto float-left">Total Books: <span id="statistics_total_books">0</span></span>
                    <span class="mr-2 pr-2 border-r-2 border-gray-200">Users: <span
                            id="statistics_total_users">0</span></span>
                    <span class="mr-2 pr-2 border-r-2 border-gray-200">borrowed📖: <span
                            id="statistics_total_borrowed_books">0</span> </span>
                    <span class="mr-2 pr-2 border-r-2 border-gray-200">Overdue📖: <span
                            id="statistics_number_of_books_overdue">0</span></span>
                    <span class="mr-2 pr-2 border-r-2 border-gray-200">Penality till now: <span
                            id="statistics_total_penality_due_to_late_return">0</span></span>
                    <span class="mr-2 pr-2 border-r-0 border-gray-200">Amount Paid till now: <span
                            id="statistics_total_amount_paid_by_users">0</span></span>


                </div>

                <div class="w-full p-2 h-full overflow-y-auto shadow-lg flex flex-col" id="books_box">

                </div>



            </div>



        </div>











</body>

</html>